.searchForm{
    margin:1px;
    border-bottom: 1px solid #e3e3e3;
}

.search-label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    float:left;
    margin-left: 7px;
    /* align-self: left; */
}