.label-font{
    font-size: 12px;
    color: gray.500;
}

.term-descript-box{
    height:108px;
    padding: 8px;
    overflow: auto;
    background-color: #f9f9f9;
}

.box-border{
    border: 1px solid #ededed
}

.agree-box{
    margin: 10px 0px;
}

.term-descript-font{
    line-height: 18px;
    color: #737373;
    font-size: 12px;
}

.term-box-head-font{
    font-size: 25px;
    font-weight: 700;
}

.mb-15{
    margin-bottom: 15px;
}

.term-head-font{
    font-size: 14px !important;
    font-weight: 600;
}

.register-uni-list{
    display: block;
    line-height: 40px;
    padding: 0 8px;
    color: #4c4c4c;
    font-size: 17px;
    cursor: pointer;
    font-family: "맑은 고딕";
}

.register-uni-list>span{
    color: #c62917;
    font-weight: 600;
}


