.label-font{
    font-size: 12px;
    color: gray.500;
}

.term-descript-box{
    height:108px;
    padding: 8px;
    overflow: auto;
    background-color: #f9f9f9;
}

.box-border{
    border: 1px solid #ededed
}

.agree-box{
    margin: 10px 0px;
}

.term-descript-font{
    line-height: 18px;
    color: #737373;
    font-size: 12px;
}

.term-box-head-font{
    font-size: 25px;
    font-weight: 700;
}

.mb-15{
    margin-bottom: 15px;
}