.footer{
  position: fixed;
  bottom:0px;
  left:0;
  height:50px;
  width:100%;
  background-color: #f8f8f8;
  border-top: 1px solid #e3e3e3;
}
ul{
    text-align: center;
}

li{
    margin-top: 10px;
    list-style: none;
    display: inline-block;
}
.pad{
    margin: 0px 20px 0px 20px
}