.boardcontent-write {
  margin-bottom: 5px;
  padding: 0 10px;
  width: 778px;
  height: 50px;

  border: 2px solid #d6d6d6;
  box-sizing: border-box;
  cursor: text;

  color: #a6a6a6;
  font-size: 14px;
  line-height: 46px;
  text-align: left;

  background: #f9f9f9 url(/src/Images/write.png) no-repeat right center;
  background-size: 40px 40px;
}

.boardcontent-form {
  width: 780px;
  height: 476px;
  margin-bottom: 5px;
  border: 2px solid #d6d6d6;
}

.boardcontent-form-title {
  width: 100%;
  height: 51px;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;

  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #292929;
}

.boardcontent-form-title::placeholder {
  color: #757575;
}

.boardcontent-form-content {
  width: 100%;
  height: 381px;
  padding: 15px;
  border-bottom: 1px solid #e3e3e3;
  overflow-wrap: break-word;
  resize: none;

  font-size: 12px;
  line-height: 15px;
  color: #292929;
}

.boardcontent-form-content::placeholder {
  color: #757575;
}

.boardcontent-hashtag {
  float: left;
  width: 40px;
  height: 40px;
  background-image: url(/src/Images/hashtag.png);
  background-repeat: no-repeat;
  background-size: 40px 40px;
  transform: translateY(-5px);
}

.boardcontent-anon-off,
.boardcontent-anon-on,
.boardcontent-submit {
  float: right;
  width: 40px;
  height: 40px;
  background-color: none;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  transform: translateY(-5px);
}

.boardcontent-anon-off {
  margin-right: 5px;
  background-image: url(/src/Images/anon_off.png);
}

.boardcontent-anon-on {
  margin-right: 5px;
  background-image: url(/src/Images/anon_on.png);
}

.boardcontent-submit {
  background-color: #c62917;
  background-image: url(/src/Images/write_white.png);
}

.boardcontent-button-first,
.boardcontent-button-prev,
.boardcontent-button-next {
  width: 82px;
  height: 35px;

  margin: 5px 3px;
  border: 1px solid #c62917;
  border-radius: 3px;
  padding: 0 10px 0 25px;

  font-size: 14px;
  font-weight: bold;
  color: #c62917;
  line-height: 35px;
}

.boardcontent-button-first {
  float: left;
}

.boardcontent-button-prev {
  float: left;
}

.boardcontent-button-next {
  float: right;
}

.boardcontent-nomore {
  padding: 80px 0;
  height: 182px;
  color: #737373;
  font-size: 15px;
}
